
.sidebar{
    position: fixed;
    left : -200px;
    height: 100%;
    width: 200px;
    background: #042331;
    transition: all .3s ease;
    border-right: 1px solid #053245;
  }
  
  .sidebar header{
    font-size: 12px;
    color : #fff;
    text-align: center;
    line-height: 40px;
    background: #063146;
    user-select: none;
  }
  
  .sidebar ul span{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: all .3s ease;
  }
  
  ul li:hover span{
    padding-left: 50px;    
  }
  
  .sidebar ul span i{
    margin-right: 16px;
  }
  
  #check{
    display: none;
  }
  
  label
  {            
    position: absolute;
  }

  label #btn , label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
  }
  
  label #btn{
    left : 10px;
    top : 5px;
    font-size: 12px;
    color: #fff;
    z-index: 5;
    border-radius: 3px;
    padding: 6px 12px;
    transition: all .3s;
  }
  
  label #cancel{
    z-index: 10;
    left: -195px;
    top: 10px;
    font-size: 12px;    
    color : #fff;
    padding: 4px 9px;   
    transition: all .3s ease;
  }
  
  #check:checked ~ .sidebar{
    left: 0;
  }
  
  #check:checked ~ label #btn{
    left: 200px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~section{
    margin-left: 200px;
  }
  
  #check:checked ~ label #cancel{
    left : 150px;
  }
  
  section{    
    height: 100%;
    transition:  all .3s;
    background: #02171f;
    color: #fff;    
  }


.links{  
  margin-left :100px;
}

.links ul {
  display: flex;
  justify-content: center;
  padding-top:15px;
}

.links ul li{
  flex-direction:  row;   
}

.links ul li a{
  color : #fff;
  font-size: 12px;
  padding:5px 10px;
}

.links ul li:hover a{
  background: #063146;
  border-radius: 4px;
}